{% extends 'base.html.twig' %}

{% block title %}Accueil {% endblock %}

{% block body %}
    {% for personne in personnes %}
     <div class="container">
         <div class="row">
             <div class="col-md-3" style="background-color: floralwhite">{{ personne.id}}</div>
             <div class="col-md-3" style="background-color: #5eb5e0">{{ personne.nom}}</div>
             <div class="col-md-3"  style="background-color: burlywood">{{ personne.prenom }}</div>
             <div class="col-md-3"  style="background-color: indianred">{{ personne.depense }}</div>
         </div>
     </div>
  {% endfor %}
{% endblock %}
